/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}


body {
    font-family: var(--primary-font)
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}


.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Buttons */
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outlined {
    border: 2px solid var(--highlight-color);
    background-color: transparent;
    color: var(--highlight-color);
}

.custom-button-outlined:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

/* Navbar customization */
#navbar {   
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: var(--primary-color)
}

/* Header */

#header .lead {
    font-family: var(--secondary-font)
}


/* Services Section */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card  {
    margin-bottom: 1.5rem;
}

/* Footer / Contact */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

/* Discount badge */

#events-dbadge {
    text-align: center;
    margin-top: 1px;
}
.discount-badge {
    background-color: var(--highlight-color);
    padding: 6px 24px;
    color: white;
    margin: 20px auto;
    display: inline-block;
    font-weight: bold;
}



/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Makes all cards in services section have the same height on different resolutions*/
    #services .card-body {
        min-height: 191px;
    }
}

/* Medium devices (Small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Makes all cards in services section have the same height on different resolutions*/
    #services .card-body {
        min-height: auto;
    }
}

@media screen and (min-width: 1200px) {
    /* Makes all cards in services section have the same height on different resolutions*/
    #services .card-body {
        min-height: 220px;
    }
}

@media screen and (min-width: 1400px) {
    /* Makes all cards in services section have the same height on different resolutions*/
    #services .card-body {
        min-height: 195px;
    }
}



/* Grid visualization for development */
/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}